.elf {
  background: url("../images/elfsprite.png") 0 0;
}
.elf .up {
  background: url("../images/elfsprite.png") 0 0;
}

.elf .left {
  background: url("../images/elfsprite.png") 0 0;
}

.elf .right{
  background: url("../images/elfsprite.png") 0 0;
}
