.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.thumbnail {
  height: 200px;

  img.pull-right {
    width: 50px;
  }
}

.elf {
  background: url("../assets/images/elfsprite.png") 0 0;
}
.elf .up {
  background: url("../assets/images/elfsprite.png") 0 0;
}

.elf .left {
  background: url("../assets/images/elfsprite.png") 0 0;
}

.elf .right{
  background: url("../assets/images/elfsprite.png") 0 0;
}
